<!DOCTYPE html>
<html>
  <head>
    <title>PillServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br/>
    <p class="text-center h5">next medication is at:</p>
    <p class="text-center h1 large"><%= @next %></p>
    <p></p>
    <a href="/next"><p class="text-center h5">reload</p></a>
  </body>
</html>




