<!DOCTYPE html>
<html>
  <head>
    <title>PillServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <h3 class="text-white h2">Smart Pills</h3>
      
    </nav>
    <div class="container-fluid" style="padding: 30px 100px 0">
      <%= yield %>
    </div>
    
  </body>
</html>
